---
## Runs when a PR is opened, if any files in site/ have changed.

name: Site PR Checks

on:
  pull_request:
    branches:
      - main
    paths:
      - site/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: site/package-lock.json

      - name: Install dependencies
        working-directory: site
        run: npm ci

      - name: Lint code
        working-directory: site
        run: npm run lint

      - name: Build site
        working-directory: site
        run: npm run build
